version: '3.8'
services:
  bot:
    build: .
    env_file:
      - .env
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
    command: bash -c "python -m hypergriot.app"
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: hypergriot
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis:7
    command: ["redis-server", "--save", "60", "1"]
volumes:
  pgdata:
